{% extends 'layouts/nav.html' %}

{% load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Datos</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Entendimiento de los Datos</li>
          <li class="breadcrumb-item active">Datos</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-12">

          <!-- Card with header and footer -->
          <div class="card">
            <div class="card-header">Datos</div>
            <div class="card-body">
              <h5 class="card-title">Modificar Datos</h5>
              Ut in ea error laudantium quas omnis officia. Sit sed praesentium voluptas. Corrupti inventore consequatur nisi necessitatibus modi consequuntur soluta id. Enim autem est esse natus assumenda. Non sunt dignissimos officiis expedita. Consequatur sint repellendus voluptas.
              Quidem sit est nulla ullam. Suscipit debitis ullam iusto dolorem animi dolorem numquam. Enim fuga ipsum dolor nulla quia ut.
              Rerum dolor voluptatem et deleniti libero totam numquam nobis distinctio. Sit sint aut. Consequatur rerum in.
              <div class="card-body">
                <form method="POST" action="{% url 'eliminarDatos' %}">
                  {% csrf_token %}
                  <table class="table">
                    <thead>
                        <tr>
                          <th>Fecha y Hora</th>
                          <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for siniestro in siniestros %}
                        <tr>
                          <td>{{ siniestro.fechaHora }}</td>
                          <td><button type="submit" class="btn btn-danger" name="eliminar_fecha" value='{{ siniestro.id }}'>Eliminar</button></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </form>
              </div>
            </div>
            <div class="card-footer">
              Footer
            </div>
          </div><!-- End Card with header and footer -->

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}