{% extends 'layouts/nav.html' %}

{% load static %}

{% block content %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Clasificacion con Logistic Regression</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Elements</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">

              <h5 class="card-title">Clasificacion para la Clase del Siniestro</h5>
              <form method="post" action="{% url 'LogisticRegressionClaseSiniestro' %}">
    
                {% csrf_token %}
                {{ form.as_p }}

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Gravedad</label>
                  <div class="col-sm-10">
                    <select name="gravedadDato" class="form-select" aria-label="Default select example" required>
                      {% for gravedad in gravedades %}
                        <option value="{{ gravedad.idGravedad }}">{{ gravedad.DescGravedad }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Choque</label>
                  <div class="col-sm-10">
                    <select name="choqueDato" class="form-select" aria-label="Default select example" required>
                      {% for choque in choques %}
                        <option value="{{ choque.idChoque }}">{{ choque.DescChoque }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Localidad</label>
                  <div class="col-sm-10">
                    <select name="codigoLocalidadDato" class="form-select" aria-label="Default select example" required>
                      {% for codigoLocalidad in codigoLocalidades %}
                        <option value="{{ codigoLocalidad.idCodigoLocalidad }}">{{ codigoLocalidad.DescCodigoLocalidad }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Lugar</label>
                  <div class="col-sm-10">
                    <select name="disenoLugarDato" class="form-select" aria-label="Default select example" required>
                      {% for disenoLugar in disenoLugares %}
                        <option value="{{ disenoLugar.idDisenoLugar }}">{{ disenoLugar.DescDisenoLugar }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Condicion</label>
                  <div class="col-sm-10">
                    <select name="condicionDato" class="form-select" aria-label="Default select example" required>
                      {% for condicion in condiciones %}
                        <option value="{{ condicion.idCondicion }}">{{ condicion.DescCondicion }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Estado</label>
                  <div class="col-sm-10">
                    <select name="estadoDato" class="form-select" aria-label="Default select example" required>
                      {% for estado in estados %}
                        <option value="{{ estado.idEstado }}">{{ estado.DescEstado }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">Edad</label>
                  <div class="col-sm-10">
                    <input name="edadDato" type="number" class="form-control" required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Sexo</label>
                  <div class="col-sm-10">
                    <select name="sexoDato" class="form-select" aria-label="Default select example" required>
                      {% for sexo in sexos %}
                        <option value="{{ sexo.idSexo }}">{{ sexo.DescSexo }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Clase de Vehiculo</label>
                  <div class="col-sm-10">
                    <select name="claseVehiculoDato" class="form-select" aria-label="Default select example" required>
                      {% for claseVehiculo in claseVehiculos %}
                        <option value="{{ claseVehiculo.idClaseVehiculo }}">{{ claseVehiculo.DescClaseVehiculo }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Servicio</label>
                  <div class="col-sm-10">
                    <select name="servicioDato" class="form-select" aria-label="Default select example" required>
                      {% for servicio in servicios %}
                        <option value="{{ servicio.idServicio }}">{{ servicio.DescServicio }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">En fuga</label>
                  <div class="col-sm-10">
                    <select name="enfugaDato" class="form-select" aria-label="Default select example" required>
                      {% for enfuga in enfugas %}
                        <option value="{{ enfuga.idEnfuga }}">{{ enfuga.DescEnfuga }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Causa</label>
                  <div class="col-sm-10">
                    <select name="codigoCausaDato" class="form-select" aria-label="Default select example" required>
                      {% for codigoCausa in codigoCausas %}
                        <option value="{{ codigoCausa.idCodigoCausa }}">{{ codigoCausa.DescCodigoCausa }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="row mb-3">
                  <label for="inputDate" class="col-sm-2 col-form-label">Fecha</label>
                  <div class="col-sm-10">
                    <input name="fechaDato" type="date" class="form-control" required>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputTime" class="col-sm-2 col-form-label">Hora</label>
                  <div class="col-sm-10">
                    <input name="horaDato" type="time" class="form-control" required>
                  </div>
                </div>

                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">Submit Button</label>
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>

              </form>

            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Su prediccion</h5>
              {{prediccion}}
            </div>
          </div>

        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}