{% extends 'layouts/base.html' %}

{% block content %}

<h1>de que trata</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo eum repellat voluptatibus ex maiores, eveniet doloremque praesentium quas saepe natus, repudiandae perspiciatis ratione, temporibus iste ea laborum recusandae! Necessitatibus, ipsa eligendi laboriosam aut nulla corporis. Odio, quasi doloribus ratione illo amet at ipsa repellat iusto vel inventore voluptatum, magni perferendis laborum porro enim recusandae architecto? Ratione, modi ipsum, ipsa id quis doloribus obcaecati cupiditate illum repellendus, nobis corporis consequatur eligendi enim consectetur repellat quibusdam molestiae neque? Culpa, minus eum deleniti omnis id sapiente nam praesentium in a aspernatur sunt molestiae distinctio numquam cum recusandae expedita harum laborum reiciendis voluptatem explicabo.</p>
<p>{{creator}}</p>

{% endblock %}