{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li>
                <a href="{% url 'projects' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">About</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Projects</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Tasks</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Create Task</a>
            </li>
            <li>
                <a href="{% url 'projects' %}">Create Project</a>
            </li>
        </ul>
    </nav> 
    
    {% block content %}
    {% endblock %}

</body>
</html>
